include "inputs.kdl"
include "outputs.kdl"
include "layout.kdl"
include "binds.kdl"
include "window-rules.kdl"

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
    xcursor-theme "Afterglow-Recolored-Original-joris4"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
